<!-- sports/templates/sports/teams.html -->
{% extends 'base.html' %}

{% block title %}Teams{% endblock %}

{% block content %}
<h1 class="mb-4">Teams</h1>
<div class="row">
    {% for team in teams %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ team.name }}</h5>
                <p class="card-text">Sport: {{ team.sport.name }}</p>
                <a href="{% url 'team_detail' team.id %}" class="btn btn-primary btn-sm">View Players</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No teams available.</p>
    {% endfor %}
</div>
{% endblock %}
